body{
    background-color: blue;
    display: flex;
    padding: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 300px;


}
.input{
    width: 100px;
    padding: 100px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 60px;
    box-sizing: border-box;
    font-size: 550%;

}
button{
    width: 100%;
    padding: 10px;
    background-color: rgb(75, 60, 147);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}
button:hover{
    background-color: rgb(43, 8, 117);
}
.error{
    background-color: rgb(231, 47, 47);
    padding: 10px;
    border-color: black;
    border-radius: 10px;
    visibility: hidden;
    
}
p{
    font-size: 1.2rem;
}

